<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
</head>
<body>
    <nav class="fixed-top bg-header-color py-4">
        <div class="app-header">
            <div class="d-flex justify-content-between align-items-center">
               
            </div>
        </div>
    </nav>
  <div class="container p-5 my-5 border container-top-margin">
      <h1>Page Under Construction</h1>
       <h1>The page you are looking is under construction. Please come back later.</h1>
      <img src="/images/construction.jpg" height="500" width="1200">
     
     
  </div>
    <footer class="py-5">
        <div class="container">
            <p class="m-0 text-center text-dark">
                Copyright &copy; Employee Management System - 2022 Designed and Developed by Durgeshkumar
            </p>
        </div>
    </footer>
 
</body>
</html>