<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Electronics Product</title>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous" />

</head>
<body>

	<div align="center">
		<div align="center">

			<a href="/addProduct">Click here to add new record</a>
		</div>
		<h1>Product List &nbsp;&nbsp;&nbsp;&nbsp;</h1>
		<a th:href="@{/lenovoSmartTab/export/pdf}">Export to PDF</a>
		&nbsp;&nbsp; <a th:href="@{/uploadForm}">Click Here For Add Data
			in Bulk</a>



		<table border="1" cellpadding="10" id="myTable">
			<thead>
				<tr>

					<th>ProductID</th>

					<th>Model</th>
					<th>RAM</th>
					<th>ROM</th>
					<th>SIZE</th>
					<th>Expandable Upto</th>
					<th>PrimaryCamera</th>

					<th>Battery</th>
					<th>Processor</th>
					<th>TabletGuarantee</th>
					<th>AccessoriesGuarantee</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="listLenovo : ${listLenovoSmartTab}">
					<td th:text="${listLenovo.id}" align="center">ID</td>
					<td th:text="${listLenovo.model}">RAM</td>
					<td th:text="${listLenovo.ram}">RAM</td>
					<td th:text="${listLenovo.rom}">ROM</td>
					<td th:text="${listLenovo.size}">SIZE</td>
					<td th:text="${listLenovo.expandableUpto}" align="center">ExpandableUpto</td>

					<td th:text="${listLenovo.primaryCamera}" align="center">PrimaryCamera</td>
					<td th:text="${listLenovo.Battery}">Battery</td>
					<td th:text="${listLenovo.Processor}">Processor</td>
					<td th:text="${listLenovo.tabletGuarantee}" align="center">TabletGuarantee</td>
					<td th:text="${listLenovo.accessoryGuarantee}" align="center">AccessoriesGuarantee</td>
					<!-- <td>
					<a th:href="@{'/edit/' + ${product.id}}">Edit</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a th:href="@{'/delete/' + ${product.id}}">Delete</a>
				</td> -->
				</tr>
			</tbody>
		</table>
	</div>
	<!-- this pagination will not work here properly ,it will only work on where we are only fetching all data and doing binding from backend
	
	https://bushansirgur.in/spring-boot-thymeleaf-jquery-datatable/
	 -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
	<script>
		$(document).ready(function() {
			$("#myTable").DataTable({
				'aoColumnDefs' : [ {
					'bSortable' : false,
					'aTargets' : [ -1 ]
				/* 1st one, start by the right */
				} ]
			});
		})
	</script>
</body>
</html>